/* 4 - External */
body{
    padding-bottom: 1000px;
}
h3{
    color: green;
}
/* p{
    color:blueviolet;
} */

/* classes */
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
    
}

/* IDs */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

/* ordem do css */
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom:  3px solid blue;
}

#algum-titulo{
    border-bottom:  4px solid green;
}
/* Nome de cores */
.color-name{
    color:crimson
}
/* hex */
.hex{
    color: #55a398;

}
.hex2{
    color: #aabbcc;
}
/* hex simplificado */
.simple-hex{
    color: #112233;
}
.simple-hex2{
    color: #123;
}
/* RGB */
.rgb{
    color: rgb(255, 0, 0);
}
.rgb2{
    color: rgb(150, 100, 55);
}
/* RGBA */
.rgba{
    color: rgba(200, 199, 45, 0.5);
}
.rgba2{
    color: rgba(100, 25, 75, 0.8);
}
/* HSL */
.hsl{
    color: hsl(100, 20%, 50%);
}
.hsl2{
    color: hsl(201, 35%, 30%);
}
/* Background color */
.background{
    background-color: #000;
    color: yellow;
}
.background2{
    background-color: blue;
    color: white;
}
/* Background opacity */
.bgopc{
    background-color: green;
    opacity: 0.7;

}
.bgopc2{
    background-color: #999;
    color: #000;
    opacity: 0.1;
}

/* RGBa com opacidade */
.rgba-opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}
/* bg image */
.bg-image{
    background-image: url("../img/peaceful-green-forest-m.webp");
    padding: 10px;
    color: #fff;
}
/* centralizando bg img */
.not-centered-bg, 
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url(../img/beautiful-fall-nature-scenery-free-image.webp);

}

.centered-bg{
    background-position: center;
    background-size: cover;
}

/* largura e altura */
.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2{
    height: 300px;
    background-color: goldenrod;
}

/* padding */
.without-padding, 
.padding{
    background-color: #000;
    color: #fff;
}

.padding{
    background-color: gray;
    padding: 20px;
}

/* padding individual */
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
}

/* Shorthand padding */
.shorthand-padding{
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2{
    background-color: #555;
    padding: 10px 20px;
}

/* padding com width */

.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    
}

.without-border-box p{
    color: #fff;
}



.border-box p{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Bordas */
.border{
    border: 5px solid red;
    padding: 10px;
}

.border-2{
    border: 2px dotted #112233;
    padding: 20px;
}

/* Bordas insidivudais */
.border-left{
    border-left: 3px solid yellow;
    color: white;
    background-color: #222;
    padding: 25px;
}

.border-bottom{
    border-bottom: 5px double #390;
    color: white;
    background-color: #112233;
    padding: 20px;
}

/* Bordas arredondadas */

.rounded-p{
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2{
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}


/* Margem */

.margin{
    margin: 10px;
    background-color: #222;

}

.margin-top{
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand{
    background-color: #666;
    margin: 5px 10px 15px 20px;
}

/* Box model */

.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 300px;
}

/* box-model-challenge */

.Box-Model-Challenge{
    margin: 20px;
    padding: 20px;
    border: 20px solid brown;
    border-radius: 30px;
    outline: 5px solid black;
    background-color: gainsboro;

}

.box-model-text{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 20px;

}

/* alinhamento de texto */

.text-aligned{
    text-align: right;

}

.container-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* text decoration */
.underline{
    text-decoration: underline;
}

.line-trought{
   text-decoration: line-through; 
}

.remove-underline{
    text-decoration: none;
    color: red;
}

/* text transform */

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/* espaçamento de letras */
.spacing{
    letter-spacing: 5px;
}

/* fontes */
.serif{
    font-family: Georgia;
}

.sans-serif{
    font-family: Helvetica;
}

.monospace{
    font-family: "Courier New";
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* text style */
.italico{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}

/* font weight */
.thin, .bold, .bolder{
    font-family: Helvetica;
}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

/* font size */

.small{
    font-size: 6px;
}

.big{
    font-size: 78px;
}

/* display */
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: #333;
    display: block;
    margin: 10px;
}

/* escondendo elementos */

.invisible{
    display: none;
}

/* poition static */

.static{
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;

}

/* position relative */

.relative{
    position: relative;
    background-color: #121;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;

}

/* position absolute */

.absolute{
    position: absolute;
    background-color: #921;
    color: #fff;
    width: 100px;
    height: 100;
    top: 2px;
    right: 2px;
}

/* relative e absolute */
.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    margin-top: 120px;
    position: relative;
}

.absolute1,
.absolute2{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    position: absolute;
}

.absolute1{
    top: 10px;
    left: 10px;
}

.absolute2{
    bottom: 10px;
    right: 10px;
}

/* position fixed */
.fixed{
    width: 100px;
    height: 100px;
    background-color: #800;
    border: 1px solid red;
    margin-top: 120px;
    position: fixed;
    top: 1px;
    right: 100px;
}

/* position sticky */

.sticky{
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    margin-top: 120px;
    position: sticky;
    top: 10px;
}

/* z index */

.absolute3,
.absolute4,
.absolute5{
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
}

.absolute3{
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute4{
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}

.absolute5{
    top: 40px;
    left: 40px;
    background-color: #453;
}